.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo img {
  height: 32px; /* Adjust the height as per your logo's dimensions */
  vertical-align: middle;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  font-size: 30px;
  font-weight: 500
}

.ant-layout-header {
  background: #1677ff;
}

.ant-menu-dark {
  background: #1677ff;
}

.faas h1 {
  text-align: center;
}

.dropdown-label-component {
  display: inline-flex;
  padding: 15px;
}

.dropdown-label-component p {
  margin-right: 15px;
}

.select-dropdown-country .ant-select-selector {
  background-color: #d9d9d9 !important;
  border-radius: 5px;
  margin-left: 10px;
}

.custom-button {
  background-color: #1677ff;
  color: white;
}